services:
  db:
    image: postgres:16
    ports: 
        - "5433:5432"
    environment:
      POSTGRES_DB: pawpal_db
      POSTGRES_USER: pawpal_user
      POSTGRES_PASSWORD: jaka_lozinka
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: ./bekend
    env_file:
      - ./bekend/.env
    depends_on:
      - db
    ports:
      - "8000:8000"
    volumes:
      - ./bekend:/app

  frontend:
    build: ./frontend
    depends_on:
      - backend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules

volumes:
  pgdata:
