.menu {
	margin-top: 30px;
	padding-top: 20px;
	text-align: center;
	align-items: center;
	flex-direction: column;
}

.menu a {
	display: block;
	text-decoration: none;
	color: #4f5d7a;
	font-size: 18px;
	margin-bottom: 16px;
}

.menu a.active {
	color: #000;
	font-weight: bold;
}

.sidebar {
	background-color: white;
	padding: 24px;
	border-radius: 12px;
}

.app {
	display: flex;
	height: 100vh;
}

.back-arrow {
	font-size: 24px;
	cursor: pointer;
}


@media (max-width: 768px) {
	.app {
		flex-direction: column;
	}

	.sidebar {
		width: 100%;
		display: flex;
		align-items: center;
		gap: 16px;
		padding: 16px;
	}

    .menu {
		display: flex;
		gap: 12px;
		border-top: none;
		padding-top: 0;
		margin-top: 0;
		margin-left: auto;
	}

	.menu a {
		font-size: 14px;
		margin-bottom: 0;
		white-space: nowrap;
	}

	/* Main content */
	.content {
		padding: 24px 16px;
		position: relative;
	}
}